@font-face {
  font-family: 'Glass TTY VT220';
  src: url('/font/Glass_TTY_VT220.woff2') format('woff2'),
      url('/font/Glass_TTY_VT220.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
