{% macro post_entry(post) %}
<div>
  <a href="/{{ post.slug }}">
    <h2 class="mb-none">
      {{ post.title }}
    </h2>
  </a>

  <p class="subtitle my-none"> {{ post.date | date(format="%B %d %Y")}} </p>
  {% set tag_len = post.tags | length %}
  {% if tag_len > 0 %}
    <p class="subtitle my-none">
      Tags:
      {% for tag in post.tags %}
        <a href="/tags/{{tag}}">{{tag}}</a>
        {% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}
</div>
{% endmacro post_entry%}