@use 'variables' as *;
@use 'sass:map';

article {
  h1 {
    margin-bottom: 0px;
    color: map-get($map: $gray, $key: 100);
  }

  .subtitle {
    font-size: 14px;
  }

  font-size: $article_font_size;
}

.subtitle {
  color: map-get($map: $gray, $key: 400);
}